<% provide :title, "Home" %>

<%= render 'layouts/player' %>

<div class="container">

<p>This is the homepage of Raymond Cohen's website.<br>

Welcome! This site is very much still a work in progress. If you're interested in the project do <%= link_to "contact us", contact_path %>.</p>

<div class="row">

	<div class="col-md-4">
		<%= link_to "Life", biography_path %><br>
		<p>edfg edf rdfvgb fvb njhg rfgh jhgf def hbgf df ss</p>
	</div>

	<div class="col-md-4">
		<%= link_to "Music", music_path %><br>
		<p>edfg edf rdfvgb fvb njhg rfgh jhgf def hbgf df ss</p>

	</div>

	<div class="col-md-4">
		<%= link_to "Gallery", gallery_path %><br>
		<p>edfg edf rdfvgb fvb njhg rfgh jhgf def hbgf df ss</p>

	</div>

</div>

</div>