<% provide :title, "Edit #{@album.name}" %>

<div class="container">

<%= nested_form_for @album do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :cover_url %>
	<%= f.text_field :cover_url %>

	<%= f.fields_for :songs do |song_field| %>
		<%= render 'song_fields', f: song_field %>
	<% end %>

	<p><%= f.link_to_add "Add a song", :songs %></p>

	<%= f.submit "Create", class: "btn btn-large btn-primary" %>

<% end %>

</div>